In [1]:
import pandas as pd

In [2]:
file = "vine_table.csv"

vine_df = pd.read_csv(file)

C:\Users\tucke\anaconda3\envs\pythondata\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4,0.0,0.0,N,N
2,RY8I449HNXSVF,5,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5,0.0,0.0,N,Y

In [4]:
vine_df_sorted = vine_df[(vine_df["total_votes"] >= 20.0)]

In [5]:
vine_df_sorted.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y

In [6]:
vine_df_sorted["helpful_percent"] = vine_df_sorted['helpful_votes'] / vine_df_sorted['total_votes']

C:\Users\tucke\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
vine_df_sorted.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y,0.957447

In [8]:
vine_helpful = vine_df_sorted[(vine_df_sorted["helpful_percent"] >= 0.50)]

In [9]:
vine_helpful.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y,0.957447

In [10]:
vine_helpful_paid = vine_helpful[(vine_helpful["vine"] == "Y")]

In [11]:
vine_helpful_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
7585,R1MAOLI5FJHAFM,4,249.0,261.0,Y,N,0.954023
13291,R9PYAUDIBJVEC,4,12.0,22.0,Y,N,0.545455
23444,R6V9SHMMG5M8F,5,101.0,110.0,Y,N,0.918182
38024,R37PVLT6ELL5J4,4,181.0,209.0,Y,N,0.866029
88492,R2FSFGWZF24V9,4,50.0,51.0,Y,N,0.980392

In [12]:
vine_helpful_not_paid = vine_helpful[(vine_helpful["vine"] == "N")]

In [34]:
vine_helpful_not_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y,0.957447

In [36]:
vine_helpful_not_paid.count()[0]

64968

In [37]:
vine_helpful_paid.count()[0]

613

In [32]:
five_star_paid = vine_helpful_paid[(vine_helpful_paid["star_rating"] == 5)]
five_star_paid.head()
five_star_paid_count = five_star_paid.count()[0]
five_star_paid_count

200

In [35]:
five_star_not_paid = vine_helpful_not_paid[(vine_helpful_not_paid["star_rating"] == 5)].count()[0]
five_star_not_paid

28842